* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: auto;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Montserrat, sans-serif;
}

.main_container {
    position: absolute;
    display: inline-flex;
    height: 969px;
    width: 90%;
    padding: 50px;
    background: #eee;
}

.cart_container {
    margin: 20px 50px;
    width: 70%;
    min-height: 507.64px;
    height: 90%;
}

.cart_nav {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    width: 100%;
    height: 50px;
    text-transform: uppercase;
    color: #fff;
    background: lightsalmon;
}

.cart_nav h2 {
    font-weight: 300;
}

.product_container {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.product {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    margin: 1%;
    border: 2px solid #808080;
    background: #fff;
    width: 98%;
    height: 200px;
    padding: 20px;
}

.product_img {
    width: 150px;
    height: 150px;
    background: lightskyblue;
}

.product_description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    width: 640px;
    height: 150px;
}

.product_name {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 0.5rem;
}

.product_description .subline {
    margin-bottom: 0.5rem;
}

.product_description .delivery {
    font-size: 12px;
    font-weight: bold;
    color: rgb(25, 173, 104);
    margin-bottom: 0.5rem;
}

.fa-check-circle {
    font-weight: bold;
    margin-right: 0.5rem;
}

select {
    background: rgb(104, 104, 104);
    color: #fff;
    width: 70px;
    height: 30px;
    border-radius: 10px;
    padding: 5px 10px;
}

select:focus {
    outline-style: none;
}

.product_price {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    font-size: 30px;
    font-weight: 400;
}

.fa-rupee-sign {
    font-size: 20px;
    padding: 5px;
}

.side_container {
    overflow: hidden;
    display: block;
    margin: 20px 50px;
    width: 350px;
    height: 380px;
    line-height: 50px;
    padding: 20px;
}

.product_total {
    display: inline-flex;
    flex-direction: row-reverse;
    justify-content: end;
    align-items: center;
    padding: 20px 30px;
    border: 1px solid #808080;
    width: 100%;
    height: 150px;
    background-color: rgb(255, 236, 229);
}

.subtotal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin: 10px;
}

.subtotal span:first-of-type {
    font-size: 40px;
}

.subtotal span:first-of-type i {
    font-size: 30px;
}

.subtotal span {
    font-size: 15px;
}

.subtotal span i {
    font-size: 12px;
}

.btn {
    width: 250px;
    height: 60px;
    margin: 30px;
    border-radius: 30px;
    border: none;
    background: #29ac64;
    color: #fff;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    transition: transform 60ms ease-in;
}

button:active {
    transform: scale(0.95);
}

.btn:focus {
    outline: none;
}

.side_container .product_total {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px;
    height: 100%;
    width: 100%;
}

.side_container .subtotal {
    justify-content: center;
    align-items: center;
}
